  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Mono&family=Roboto:ital,wght@1,300&display=swap');
  
  :root{
    --background-primary: #1d1f34; 
    --background-secondary:#34353f;
    --background-tertiary:#120907;
    --background-quaternary:#faebd7; 
    --font-color-primary:#c9d9ed;
    --font-color-secondary:#c9d9ed;
    --button-color-primary:#737999;
    --button-color-secondary:#ef4335;
    --button-color-hover-primary: #596188; 
    --button-color-hover-secondary:#f68b36;
}

[data-theme="light-theme"]{
    --background-primary:#bec2a8;
    --background-secondary:#efecde;
    --background-tertiary:#120907;
    --background-quaternary:#f9f9f9;
    --font-color-primary:#34353f;
    --font-color-secondary:#091226;
    --button-color-primary:#efecde;
    --button-color-secondary:#ef4335;
    --button-color-hover-primary: #bec2a8; 
    --button-color-hover-secondary:#f68b36;
}

@media screen and (min-width:320px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Mono', monospace;;
        text-align: center;
        list-style: none;
        cursor: pointer;
    }
    body{
        background-color: var(--background-secondary);
    }
    .header{
        width: 100%;
        display: flex;
        background-color: var(--background-primary) ;
        text-align: center;
        flex-direction: column;
    }
    .header-title{
        width: 100%;
        font-size: 2 rem;
        color:var(--font-color-primary);
        text-shadow:var(--background-tertiary) 2px 2px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .container-button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:5px ;
    }
    .button{
        margin: 5px;
        padding: 5px;
        border-radius: 10%;
        background-color:var(--button-color-primary);
        color:var(--font-color-secondary);
        font-size: 1em;
    }
    .button-theme{
        margin: 5px;
        padding: 5px;
        border-radius: 10%;
        background-color:var(--button-color-primary);
        color:var(--font-color-secondary);
        font-size: 1em;
    }
    .button:hover{
        background-color: var(--button-color-hover-primary);
        transition: all .3s ease;
    }
    .button-theme:hover{
        background-color: var(--button-color-hover-primary);
        transition: all .3s ease;
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .div-meme{
        width: 300px;
        max-width: 90%;
        height:300px ;
        background-color: var(--background-tertiary);
        display: flex;
        justify-content: center;
        border: var(--background-tertiary) 2px solid ;
        flex-direction: column;
    }
    .meme-text1{

        height: 20%;
        background-color:var(--background-quaternary);
        padding: 5px;
    }
    .meme-image{
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 2 em;
       
    }
    .meme-text2{
        height: 20%;
        background-color: var(--background-quaternary);
        padding: 5px;
    }
     aside{
        width: 80%;
        max-width: 80%;
    }
    .meme-panel-image{
        
        /* float:right;
        display:none; */
        font-size: 1em;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .meme-panel-text{
       
        /* float:right;
        display: none; */
        font-size: 1 em;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px;
        color: var(--font-color-secondary);
    }
    .form-group{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color:var(--font-color-primary);
    }   
    .form-group-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #reset{
        margin-top: 30px;
        padding: 8px;
        background-color:var(--button-color-primary);
        color:var(--font-color-secondary);
        font-size: 1em; 
    }
    #reset:hover{
        background-color: var(--background-primary) ;
        transition: all .3s ease;
    }
    .btn-download{
        margin: 15px;
        padding: 15px;
        background-color:var(--button-color-secondary);
        color:var(--background-quaternary);
        font-size: 1em;
    }
    .btn-download:hover{
        background-color: var(--button-color-hover-secondary) ;
        transition: all .3s ease;
    }
    h2{
        font-size: 1 rem;
        color:var(--font-color-primary) ;
        padding: 30px;
    }
    h3{
        font-size: 1 em;
        margin-top: 30px;
        padding: 10px;
    }
    .text-color{
        padding: 20px;
    }
    .btn-ninguno{
        margin: 10px 5px;
        padding: 8px;
        background-color:var(--button-color-primary);
        color:var(--font-color-secondary);
        font-size: 1em; 
    }
    .btn-ninguno:hover{
        background-color: var(--background-primary) ;
        transition: all .3s ease;
    }
    .btn-oscuro{
        margin: 10px 5px;
        padding: 8px;
        background-color:var(--button-color-primary);
        color:var(--font-color-secondary);
        font-size: 1em; 
    }
    .btn-oscuro:hover{
        background-color: var(--background-primary) ;
        transition: all .3s ease;
    }
    .btn-claro{
        margin: 10px 5px;
        padding: 8px;
        background-color:var(--button-color-primary);
        color:var(--font-color-secondary);
        font-size: 1em; 
    }
    .btn-claro:hover{
        background-color: var(--background-primary) ;
        transition: all .3s ease;
    }
    .check-txt{
        margin: 15px;
    }
    .text-number{
       
        width: 20%;
    }
}
/* }
@media screen and (min-width:672px){ */
/* .button{
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    background-color:#737999;
    color:#c9d9ed;
    font-size: 1em;

}
}*/
