

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Mono&family=Roboto:ital,wght@1,300&display=swap');


@media screen and (min-width:320px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Mono', monospace;; 
        text-align: center;
        list-style: none;
        cursor: pointer;
    }
    /* }
    paleta de color 
    .color1 {color: #120907;}
    .color2 {color: #1d1f34;}
    .color3 {color: #505988;}
    .color4 {color: #8d9ae3;}
    .color5 {color: #c9d9ed;} */
    .header{
        width: 100%;
        display: flex;
        background-color: #1d1f34;
        text-align: center;
        flex-direction: column;
    }
    .header-title{
        width: 100%;
        font-size: 1 rem;
        color: #c9d9ed;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .container-button{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:5px ;
    }
    .button{
        margin: 10px;
        padding: 10px;
        border-radius: 10%;
        background-color:#737999;
        color:#c9d9ed;
        font-size: 1em;
                                
    }
    .button:hover{
        background-color: #596188;
        transition: all .3s ease;
       
    }
    .container-meme{
        display: flex;
        justify-content: center;
    }
    div.div-meme{
        width: 300px;
        max-width: 80%;
        height:300px ;
        background-color: #120907;
        display: flex;
        
    }
    p{
        background-color: bisque;
       
    }
    .meme-text1{
        margin-top: 0;

    }
    .meme-text2{
        margin: bottom 60px;
    }
    .meme-panel-image{
        float:right;
        display:none;
    }
    .meme-panel-text{
        float:right;
        display: none;
    }
    .btn-download{
        margin: 15px;
        padding: 15px;
        background-color: orangered;
    }
    .btn-download:hover{
        background-color: rgb(235, 65, 3) ;
        transition: all .3s ease;
    }
/* }
@media screen and (min-width:672px){ */
/* .button{
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    background-color:#737999;
    color:#c9d9ed;
    font-size: 1em;
                            
} 
}*/